<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="description" content="UI-3">
<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/index.css">
<link rel="stylesheet" href="./css/registration.css">
 
<head>
    <title>Business Registration Page</title>
</head>
<body onload ="setRand()">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Business Registration</h2>
            
            <div class="panel panel-primary">
                <div class="panel-body">
        
                    <form th:action="@{/registration}" method="POST" th:object="${user}">
                        <div class="form-group">
                            <label class="control-label" for="signupEmail">Email Address</label>
                            <input type="email" class="form-control" id="reg_Email" th:field="*{email}" required maxlength="50">
                        </div>
    
                        <div class="form-group">
                            <br>
                            <label class="control-label" for="signupPassword">Password</label>
                            <input type="password" class="form-control" id="reg_Password" th:field="*{password}" required maxlength="50">
                        </div>

                        <div class="form-group">
                            <br>
                            <label class="control-label" for="signupCompanyName">Company Name</label>
                            <input type="text" class="form-control" id="reg_CompanyName" th:field="*{company_name}" required maxlength="50">
                        </div>

                        <div class="form-group">
                            <br>
                            <label class="control-label" for="signupCompanyID">Company ID</label>
                            <input type="text" id="rand" disabled>  
                            <br>
                            <small id="emailHelp" class="form-text text-muted">This is your assigned company ID.</small>
                        </div>                      
                        </div>
                    

                        <script src="./js/businessregistration.js"></script>

                        <div class="form-group">
                            <br>
                            <button id="signupSubmit" type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    
                        <hr>
                        <p></p>Already have an account? <a href="./home.html">Sign in</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

       


